.category-filter {
    width: 200px;
    height: auto;  }
  
  .filter-item-title {
    margin-left: 0px;
    align-items: flex-start;
    vertical-align: bottom;
    gap: 0px;
    height: auto;

  }
  .font-medium{
    
    
    
    margin-left: 15px;
    width: auto;
    font-size: 15px;
    text-transform: uppercase;
    font-weight: 600;
   
  }
  
  .filter-option-list {
   width: 100%;
   height:auto;
   margin-top: 0px;
   
  }
  
  .filter-option-item {
    height:12px;
    width: 100%;
    margin-left: 15px;
    

  }
  
  .filter-option-icon-checked {
    width: 20px;
    height:auto;
    justify-items: center;
    vertical-align: middle;
  }
  
  .filter-option-icon-unchecked {
    width: 20px;
    height:auto;
    justify-items: center;
    vertical-align: middle;
  }
  
  .filter-option-text {
    font-size: 13px;
    justify-content: center;
    vertical-align: middle;
    margin-left: 10px;
    color: rgb(108, 106, 105);
  }
  .category-filter mt-2{
    width: 300px;
    height: auto;
  }

  .flex-justify-start-items-center{
    height: 10px;
    justify-items: flex-start;
    
  }
  .separator {
    
    width: 100%;
    margin-top: 2px;
    background-color: #c3c1c1; /* Set the color of the separator */
    margin-left: 15px; /* Adjust margin between separator and title */
    
  }