.product-name {
    font-size: 26px;
    font-weight: bold;
    
    text-transform: uppercase;
}

.bottom-part {
    justify-content: space-between;
    align-items: center;
    padding-right: 10px;
 
    height: 20%;
}

.underline-on-hover {
    cursor: pointer;
    text-decoration: underline;
}


.underline-on-hover:first-child {
    margin-right: auto;
}

.underline-on-hover:last-child {
    margin-left: auto;
}

.main-container{
    height: 200px;
    width:100%;
    gap:50px;



    

}

.picture{
    width: 40%;
    height: 100%;
  
    margin-top: 40px;
    margin-left: 80px;
    
}
.no-picture{
    width: 100%;
    height: 100%;
    
    margin-top: 16px;
    
    padding-bottom: 20px;

}

.description{
    
    width: 100%;
    padding-bottom: 10px;
    justify-content: space-between;
  
  
    
    
}

.container{
    
     align-items: flex-start;
   
   
}

.top-part{
   
    height: 100%;
    
    width: 100%;
    
    
    
    
}

.select{
  

   margin-top: 28px;
}

.container-vertical{
    gap:1px;
    align-items: flex-start;
   
   
}
.additional-details{
    margin-bottom:-6px ;
}
.availability{
    margin-bottom:-6px ;
}