
  
  .logo {
    height: 60px;
    margin: 16px 0 0 0;
  }
  
  .logo img {
    height: 120%;
    background: #282727;
    width: 100%;
  }
  
  .menu {
    background-color: #F0EEEE;
    color: #282727;
    padding: 10px;
    margin-top: 16px;

  }

  .menu .ant-menu-item {
    margin-bottom: 16px;
  }
  
  .menu .ant-menu-item > span {
    font-weight: bold;
    color: #030303;
  }
  
  .menu .ant-menu-item-selected {
    background-color: #787878;
    color: #ffffff;
  }
  
  .dashboard-header {
    margin: 16px 0 0 0;
    height: 72px;
    background-color: #F0EEEE;
    font-size: 35px;
    color: #333; 
    font-weight: bold;
    text-align: left;
  }
  
