.grid-container{
  gap:1px;
  height: auto;
  width:100%; 
  position: relative;
  padding: 2px;
}
.nav-container{
  width: 100%; 
  height:auto;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 2;


}
.nav-item {
  height: 80px;
  width: 100%; 
}
.grid-item1 {
  height:663px;
  position: relative;
}


.img1{
   
    width: 50%; 
    height: 100%; 
  
  }
  .image1{
    height:663px;
    background-image: url('../../asserts/imag1.jpg');
    width:55%;
    background-size: cover;

  }
  .image2{
    height:663px;
    background-image: url('../../asserts/img4.png');
    width:45%;
    background-size: cover;

  }
  .image3{
    height:585px;
    background-image: url('../../asserts/img3.png');
    width:100%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
   
  }
  .image4{
    height:585px;
    background-image: url('../../asserts/img4.png');
    width:50%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }
  .image5{
    height:585px;
    background-image: url('../../asserts/img5.png');
    width:50%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }
  .grid-item{
    height: 100%;
    width:100%;
  }

  .img3{
    width:100%;
  }
  



.brand-item{
    width:auto;
    height:100%;
}
.grid-item-brands{
  height:367px; 
}
.brands-top{
   
  position: relative; 
  display: flex; 
  justify-content: space-between;
  padding:10px 40px 0px 0px;
    
}
.brands-bottom{
   
  position: relative; 
  display: flex; 
  justify-content: space-between;
  padding:0px 5px 0px 0px;
    
}

.brand-icon {
  width: 150px; 
  height: 150px; 
  display: flex;
  justify-content: center;
  align-items: center;
}

.brand-icon img {
  max-width: 100%;
  max-height: 100%;
}

.brand-image {
  width: 100%; 
  height: auto; 
}



@media screen and (max-width: 768px) {
    /* Existing styles... */

/* Media query for screens up to 768px */
@media screen and (max-width: 768px) {
  .grid-container {
    width: 100%; /* Adjust container width for smaller screens */
  }

  /* Change horizontal flex layouts to vertical */
  .grid-item1,
  .grid-item,
  .grid-item-brands {
    flex-direction: column;
  }

  /* Adjust individual item widths or any other necessary styling */
  .image1,
  .image2,
  .image3,
  .image4,
  .image5 {
    width: 100%;
  }

 
  
  .image3,
  .image4,
  .image5{
    height: 270px;
    background-size: cover;

  }
  .grid-item-brands{
    height:auto;
    align-items:center;

  }
  /* Example of adjusting brand items for smaller screens */
  .brands-top,
  .brands-bottom {
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding: 0px;
  }

  /* Adjust other specific styles as needed */
}

}



    
